<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans&family=Rubik:wght@500&family=Ubuntu:ital@1&family=Urbanist:wght@600;700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="left">
            <div class="card">
              
              <div id="frame">
                <img
                  id="userimg"
                  src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                />
              </div>
              <h2>User name</h2>
              <h4>company</h4>
            </div>
            <ul>
              <li>Dashboard</li>
              <li>User Management</li>
              <li>Master Settings</li>
              <li>Website</li>
              <li>Application job post</li>
              <li>LMS Management</li>
              <li>Product Management</li>
              <li>Blog Management</li>
              <li>Sales Request</li>
              <li>CRM</li>
              <li>Report Management</li>
              <li>ERP LMS</li>
            </ul>
          </div>
          <div class="right">
            <div class="nav">
                <div class="navitem">
                  <i class="ri-chat-2-line"></i>
                  <i class="ri-notification-2-line"></i>
                  <div id="image">
                    <img
                      id="userimgg"
                      src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      alt=""
                    />
                  </div>
      
                  <button>logout</button>
                </div>
              </div>
              <div class="header">
                <h1>Add User</h1>
                <h4>Dashboard > User Management</h4>
              </div>
              <div class="DETAIL">
                <div class="heading">
                    <ul>
                        <li>name</li>
                        <li>email</li>
                        <li>address</li>
                        <li>phone</li>
                    </ul>
                </div>
                <% results.forEach(function(elem){ %>
                <div class="heading">
                    <ul>
                        <li><%=elem.name%></li>
                        <li><%=elem.email%></li>
                        <li><%=elem.Address%></li>
                        <li><%=elem.number%></li>
                    </ul>
                    <a href="/delete/<%=elem.id%>"  class="btn btn-danger"><i class="ri-delete-bin-7-line"></i></a>
                    <a href="/edit/<%=elem.id%>" class="btn btn-primary"><i class="ri-pencil-fill"></i></a>
                </div>
               
                <% }) %>
              </div>
          </div>
    </div>
    <script>
     
    </script>
</body>

</html>